# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# Images or outputs
*.png
*.jpg
*.jpeg
