# -------------------------
# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
source/       

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# Images or outputs
*.png
*.jpg
*.jpeg

# Logs and temp files
*.log
*.out
*.tmp

# Build / dist (for packaging)
build/
dist/
*.egg-info/

*.csv
